.hidden {
  display: none;
}

.trainerImageWrapper {
  height: 200px;
  /*width: 120px;*/
  /*margin-right: 15px;*/
  width: 100%;
  overflow: hidden;
}

.trainerImage {
  height: 350px;
  /*border: 2px solid #ccc;*/
}

#gridImage {
  width: 100%;
}

/*.row {
  border: 1px solid #aaf;
}*/

/*.col-xs-3 {
  border: 1px solid #aaf;
}

.col-xs-4 {
  border: 1px solid #aaf;
}

.col-xs-5 {
  border: 1px solid #aaf;
}*/

label {
  font-size: 13px;
}

label.current-stats {
  width: 80px;
}