.trainerImageWrapper {
  /*height: 240px;*/
  /*width: 120px;*/
  /*margin-right: 15px;*/
  width: 100%;
}

.trainerImage {
  height: 350px;
  /*border: 2px solid #ccc;*/
}

#gridImage {
  width: 100%;
}

/*.row {
  border: 1px solid #aaf;
}*/

/*.col-xs-3 {
  border: 1px solid #aaf;
}

.col-xs-4 {
  border: 1px solid #aaf;
}

.col-xs-5 {
  border: 1px solid #aaf;
}*/