.imageWrapper {
  width: 100px;
  height: 105px;
  float: left;
}

img {
  width: 100px;
}

button.continue {
  float: right;
}
#arena {
  width: 800px;
  height: 600px;
  /*border: 2px solid black;*/
}

ul {
  list-style-type: none;
  /*border: 1px solid black;*/
}

.hidden {
  display: none;
}

#playerStats {
  float: left;
}

#enemiesGUI {
  width: 800px;
  height: 200px;
  display: block;
  background-color: #f55;
  border: 1px solid black;
}

.character {
  background-color: white;
  border: 3px solid #ccc;
  float: left;
  margin-left: 20px;
}

table {
  margin-left: 5px;
}

td {
  padding-left: 1em;
}

#enemiesGUI ul {
  float: left;
}

#messageGUI {
  padding: 20px;
  width: 800px;
  height: 200px;
  display: block;
  border: 1px solid black;
  background-color: #f2f2f2;
  font-style: italic;
  font-size: 18px;
  /*font-weight: bold;*/
}

#playerGUI {
  width: 800px;
  height: 200px;
  display: block;
  border: 1px solid black;
  background-color: #1af;
}

#playerGUI ul {
  float: left;
}