body {
  color: white;
  font-family: sans-serif;
}

label {
  color: white;
}
a, a:hover, a:visited {
  color: white;
/*  font-family: sans-serif;*/
}

.glyphicon {
  /* Bootstrap icon fix */
  font-family:'Glyphicons Halflings' !important;
}

#main {
  margin-top: 10px;
}

.trainer-image-wrapper {
  height: 260px;
  width: 100%;
  overflow: hidden;
}

.trainer-image {
  height: 350px;
}

#grid-image {
  width: 100%;
}

label {
  font-size: 13px;
}

#chatBubble {
  position: absolute;
  top: 110px;
  left: -500px;
  background-color: white;
  border: 4px solid #aaa;
  font-size: 16px;
  font-style: italic;
  padding: 10px;
  color: red;
}

.ui-tooltip {
  background-color: rgb(130,130,130);
  max-width: 1000px;
  min-width: 300px;
  /*width: 600px;*/
  /*overflow: ;*/
  overflow-wrap: break-word;
}

.ui-tooltip code {
  background-color: rgba(0,0,0,0);
  color: black;
  border: none;
  font-size: 13px;
}

.ui-tooltip pre {
  color: black;
  font-family: monospace;
  font-size: 12px;
}

.ui-tooltip h5 {
  color: #252525;
  font-weight: bold;
}

.control-label {
  color: white;
}

.form-group.has-success label {
  color: white;
}

.thumbnail {
  border-color: #444
}

code {
  padding: 0.6em 0.8em;
  font-size: 85%;
  color: #ccc;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 3px;
  font-weight: normal;
}

code.correct {
  border: 1px solid #272;
  background-color: #333;
  /*background-color: #343;*/
  color: white;
}

code.incorrect {
  border: 1px solid #722;
  background-color: #433;
  color: white; 
}

::-webkit-input-placeholder {
  color: #555 !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent !important;
}

.code-input input {
  color: white !important;
  /*font-size: 13px;*/
}

table.display {
  color: white;
  margin-left: -15px;
  margin-right: -16px;
  font-size: 1.2em;
}

table.display th{
  color: #ccc;
  font-weight: normal;
}

table.display td {
  color: #bbb;
  font-weight: bold;
}

/*tbody.striped tr:nth-child(even) {
 background-color: #2d2d2d;
}
*/
.popover.debug-module-popover { 
  width: 450px;
  padding: 0px;
  max-width: 1000px;
  /*font-family: sans-serif !important;*/
  letter-spacing: normal !important;
  box-sizing: content-box;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.65) !important;
}

.popover .popover-title {
  /*font-family: sans-serif !important; */
  font-size: 12px;
  letter-spacing: normal !important;
}

.code-module {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.code-input {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.code-input p.return-val {
  font-family: monospace;
  /*overflow: visible;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*overflow: auto;*/
  /*height: 200px;*/
  /*width: 200px;*/
  /*word-wrap: break-word;*/
}

.code-action-module {
  flex-grow: 1;
  flex-direction: row;
  margin-left: 5px;
  display: flex;
}

button, input {
  font-family: monospace;
  font-weight: bold !important;
}

.code-input input {
  width: 320px;
}

.btn-code {
  width: 320px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 3px;
  border: 1px dotted #ccc;
}

.code-input.execution-correct {
  color: black;
  background-color: #0d0;
}

.code-input.execution-incorrect {
  color: black;
  background-color: #d00;
}

.btn-code.execution-correct {
  color: black;
  background-color: #0d0;
}

.btn-code.execution-incorrect {
  color: black;
  background-color: #d00;
}

.btn-code.expression-correct  {
  color: #0d0;
  border: 1px dotted #0d0;
}

.btn-code.expression-incorrect  {
  color: #d00;
  border: 1px dotted #d00;
}

.btn-action {
  flex-grow: 1;
  flex-direction: row;
  background-color: black;
  color: #bbb; 
  border: 1px dotted #ccc;
  border-radius: 3px;
}

.btn-action.disabled {
  background-color: #666;
  color: #777; 
  border: 1px dotted #ccc;
  border-radius: 3px;
}

.btn-action:hover {
  color: white;
  border: 1px dotted white;
}

input {
  color: white !important;
  /*font-size: 13px !important;*/
}

input:focus {
  color: white !important; 
}

/*.title-display-module {
  width: 330px;
}
*/

#header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
}

#header-left {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0px;
}

#header-right {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0px;
  padding-top: 15px;
}

.code-tag-module.display-mode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
  align-items: center;
  font-size: 11px;
}

.code-tag-module.debug-mode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.code-tag-text {
  padding: 0.3em 0.3em 0.0em 0.3em;
  color: #ccc;
  font-weight: normal;
}

/*[feature-id="getAppVersion"] .code-tag-text {
  padding: 0.3em 0.3em 0.0em 0.3em;
  font-size: 1.2em;
}
*/

#header-right .code-tag-text {
  /*padding: 0px 5px 0px 5px;*/
  color: #ccc;
  font-size: 14px;
  font-weight: normal;
}

.code-tag-module.debug-mode {
  border-radius: 3px;
  background-color: #2e2e2e;
  border: 1px solid #555;
  color: #ccc;
}

.code-tag-module.debug-mode:hover {
  border-radius: 3px;
  background-color: #222;
  border: 1px solid #777;
  color: #ccc;
}

footer .code-tag-text {
  /*padding: 0.3em 0.3em 0.0em 0.3em;*/
  color: #ccc;
  font-size: 1.0em;
  font-weight: normal;
}

.debug-mode .code-tag-text {
  font-family: monospace;
}

.code-tag-module.display-mode {
  color: white;
}

/*.code-tag-module.display-mode:hover {
  border-radius: 3px;
  border: 1px solid #eee;
  text-decoration: none;
  color: #666;
}
*/
.feature-module {
  /*display: flex;*/
  padding: 0px;
  margin-top: 3px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.display-mode .code-tag-text {
  /*font-family: sans-serif !important;*/
  color: white;
}

/* change display mode icon */
.code-tag-module .change-display-mode-icon {
  /*float: right;*/
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}
.code-tag-module.debug-mode .change-display-mode-icon {
  color: #333;
}
.code-tag-module.debug-mode:hover .change-display-mode-icon {
  color: #222;
}

table .change-display-mode-icon {
  color: #666;
}
.change-display-mode-icon {
  color: #333;
}
.change-display-mode-icon:hover {
  color: white;
}

/*.change-display-mode-icon span:hover {
  border: 1px solid #777;
  border-radius: 2px;
  color: #aaa;
  background-color: #666;
}*/

#trainer-placeholder {
  text-align: center;
  margin-bottom: 0px;
  position: relative;
}

#trainer-placeholder .trainer-image-wrapper {
  padding-top: 20px;
  height: 400px;
  /*width: 100%;*/
  overflow: hidden;
  border: 1px solid #444;
  text-align: center;
  margin: 0px;
}

#trainer-placeholder image.trainer-image {
  display: inline-block;
  width: 147px;
  height: 350px;
  position: relative;
}

#trainer-placeholder .code-tag-module {
  /*display: inline-block;*/
  display: inline-block;
  position: relative;
  top: -120px;
}

#trainer-placeholder-inner {
  height: 400px;
  overflow: hidden;
}

#trainer-placeholder .code-tag-text {
  padding: 0.3em 0.3em 0.0em 0.3em;
  color: #ccc;
  font-size: 1.2em;
  font-weight: normal;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 250px
}

#footer-left {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px;
}

#footer-right {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0px;
}

#footer-right-left {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0px;
}

#footer-right-right {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0px;
}

#header-right .code-tag-module:last-child {
  margin-right: 0px;
}

#footer-right .code-tag-module:last-child {
  margin-right: 0px;
}

table .code-tag-module {
  border-width: 1px !important;
}

table .code-tag-module.debug-mode {
  background-color: #2e2e2e !important;
}

table .code-tag-text {
  /*padding: 0.3em 0.3em 0.0em 0.3em;*/
  color: #ccc;
  font-size: 0.75em;
  font-weight: normal;
  font-family: monospace !important;
  font-variant: normal !important;
}

.test-result-line-item {
  font-size: 12px;
}

.test-result-status {
  float: left;
  width: 15px;
}

.test-result-line-item.incorrect .glyphicon {
  color: red;
}

.test-result-line-item.correct .glyphicon {
  color: #0d0;
}

table.test-results td {
  padding-left: 0.9em;
  height: 30px;
}

table.test-results td.test-status {
  padding-left: 0em;
}

.test-results-module {
  background-color: #484848;
  color: #ddd;
  border: 1px solid #555;
  padding: 5px;
  margin-top: 5px;
}

.test-results-title {
  margin: 0px;
  padding: 0px;
  /*font-family: sans-serif;*/
  font-weight: normal;
}

.test-results-summary {
  /*font-family: sans-serif;*/
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

.num-tests-passed, .num-tests-total {
  font-weight: bold;
  color: white;
}

table .glyphicon {
  font-size: 12px;
}

.popover-controls {
  float: right;
}

.popover-controls .glyphicon {
  margin-left: 4px;
  color: #999;
}

.popover-controls .glyphicon:hover {
  margin-left: 4px;
  color: white;
}

.popover-title {
  padding-left: 10px;
  padding-right: 5px;
}

.expr {
  font-family: monospace;
  /*text-decoration: underline;*/
  font-weight: bold;
}

.popover-content {
  padding: 5px;
}

.var-info-module {
  color: white;
  font-size: 13px;
  position: relative;
  top: -40px;
  left: 0px;
  background-color: rgba(0,0,0,0.75);
  padding-top: 0.1em;
  padding-left: 10px;
  /*font-family: sans-serif;*/
  margin-bottom: 0px;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
}

.var-info-module label {
  color: white;
  /*font-family: sans-serif;*/
  margin-bottom: 0px;
}

.var-name-module {
  position: relative;
  top: -63px;
  left: 0px;
  /*border-top: 1px solid #333;*/
  border-bottom: 1px solid #252525;
}

.var-class-module {
  position: relative;
  top:  -63px;
  left: 0px;
  margin-bottom: -40px;
}

.trainer-var, .trainer-class {
  font-family: monospace;
  margin-bottom: 0px;
  /*font-weight: bold;*/
}

.code-tag-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 7px;
  margin-left: 3px;
}

/* specific image sizes for features */
.image-type {
  display: flex;
  flex-direction: row;
}

[feature-id="getAppIcon"] img {
  height: 50px;
  /*max-width: 150px;*/
  flex: none !important;
}

[feature-id="appName"].debug-mode .code-tag-text {
  font-size: 28px;
  padding: 3px 5px 0px 5px;
}

[feature-id="appName"].display-mode .code-tag-text {
  font-size: 40px;
  padding: 0px;
}

[feature-id="getAppCredits"].display-mode {
  max-width: 250px;
  padding: 0px;
  /*border: 1px solid red;*/
}

#trainer-display-icon {
  position: relative;
  bottom: -25px;
  left: 5px;
  margin-top: -20px;
}

.code-tag-module.display-mode label {
  /*font-family: sans-serif;*/
}

#footer-left, #footer-right {
  /*border-top: 1px solid #333;*/
}

td, th {
  vertical-align: middle !important;
}


tr {
  /*line-height: 28px;*/
}

h4.panel-title {
  /*font-family: sans-serif;*/
}

.code-tag-module .display-mode {
  /*font-family: sans-serif;*/
}

.panel {
  margin-bottom: 20px;
  background-color: rgba(80, 80, 80, 0.55);
  border:1px solid transparent;
  border-radius:0;
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);
  box-shadow:0 1px 1px rgba(0,0,0,0.05)
}

.panel-body{
  padding: 5px 10px 5px 10px;
}

.panel-heading{
  background-color: rgba(0, 0, 0, 0.7) !important; 
  color: #aaa !important;
  padding:10px 15px;
  border-bottom:1px solid transparent;
  border-top-right-radius:-1;
  border-top-left-radius:-1
}

.panel-heading>.dropdown .dropdown-toggle{color:inherit}

.panel-title{margin-top:0;margin-bottom:0;font-size:16px;color:inherit}.panel-title>a,.panel-title>small,.panel-title>.small,.panel-title>small>a,.panel-title>.small>a{color:inherit}

.panel-footer{padding:10px 15px;background-color:#080808;border-top:1px solid #3c3c3c;border-bottom-right-radius:-1;border-bottom-left-radius:-1}

/*.panel-title {
  color: #666;
}*/

.panel-heading {
  position: relative;
}

.panel-heading .glyphicon {
  color: #777;
  position: absolute;
  top: 10px;
}

.panel-heading .minimize {
  right: 5px;
}

.panel-heading .activate.enabled {
  color: #a2a400;
}

.panel-heading .activate.enabled:hover {
  color: #f2f400;
}

.panel-heading .activate.enabled:active {
  color: #929400;
}

.panel-heading .glyphicon:active {
  color: #111;
}

.panel-heading .glyphicon:hover {
  color: #aaa;
}

.feature-listing {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
}

.label-wrapper {
  width: 120px;
  flex-grow: 0;
  padding-right: 10px;
}

.code-tag-module-wrapper {
  flex-grow: 1;
}

.code-tag-module.bar-type {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 0px;
  align-items: center;
}

.stat-bar {
  width: 195px;
  align-items: center;
  padding-top: 20px;
}

.progress {
  position: relative;
  background-color: #333;
  border: 1px solid #555;
}

.bar-reading {
  font-size: 13px;
  font-weight: bold;
  color: #ddd;
  position: absolute;
  left: 85px;
}

.panel-body .code-tag-module {
  margin: 0px;
}