.glyphicon {
  /* Bootstrap icon fix */
  font-family:'Glyphicons Halflings' !important;
}

/*.hidden {
  display: none;
}
*/
#main {
  margin-top: 10px;
}

.trainer-image-wrapper {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.trainer-image {
  height: 350px;
  /*border: 2px solid #ccc;*/
}

#grid-image {
  width: 100%;
}

label {
  font-size: 13px;
}

label.current-stats {
  width: 80px;
}

#chatBubble {
  position: absolute;
  top: 110px;
  left: -500px;
  background-color: white;
  border: 4px solid #aaa;
  font-size: 16px;
  font-style: italic;
  padding: 10px;
  color: red;
}

button, input, a {
  font-family: monospace;
  font-weight: bold !important;
}

.ui-tooltip {
  background-color: black;
  max-width: 1000px;
}

.ui-tooltip pre {
  color: black;
  font-family: monospace;
  font-size: 13px;
}

.ui-tooltip h5 {
  color: #aaa;
}

.panel-title {
  color: #666;
}

small {
  color: #666 !important; 
}

.btn[disabled] {
  color: #777;
}

.function {
  color: #0d0;
}

label {
  color: white;
}

/*label[disabled] {
  color: #444; 
}
label.function {
  color: #19f;
}
label.attribute {
  color: yellow;
}
*/
button.function {
  background-color: white;
 /*background-color: #19f; */
 color: black;
}

button.function:hover {
  color: black;
  background-color: white;
  /*background-color: #5cf;*/
  text-decoration: underline;
}


button.attribute {
  background-color: white;
  /*background-color: orange;*/
  /*background-color: #f4ff00;*/
  color: black;
}

button.attribute:hover {
  background-color: white;
  /*background-color: #ffbb22;*/
  color: black;
  text-decoration: underline;
}

body {
  color: white;
}

.panel-heading h3 {
  /*float: left;*/
}

.panel-heading {
  position: relative;
}

.panel-heading .glyphicon {
  color: #777;
  position: absolute;
  top: 10px;
}

.panel-heading .minimize {
  right: 5px;
}

.panel-heading .activate {
  right: 24px;
}

.panel-heading .activate.enabled {
  color: #a2a400;
}

.panel-heading .activate.enabled:hover {
  color: #f2f400;
}

.panel-heading .activate.enabled:active {
  color: #929400;
}

.panel-heading .glyphicon:active {
  color: #111;
}

.panel-heading .glyphicon:hover {
  color: #aaa;
}

.control-label {
  color: white;
}


.form-group.has-success label {
  color: white;
}

.progress {
  position: relative;
}

.bar-reading {
  font-size: 13px;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 2px;
  left: 70px;
}

.thumbnail {
  border-color: #444
}

/*.form-group .glyphicon{
  position: relative;
  top: 2px;
  right: 0px;
}*/

.code-input {
  float: left;
  margin-left: 10px;
}

.col-xs-4 .code-input {
  width: 260px;
}

.col-xs-3 .code-input {
  width: 165px;
}

.col-xs-5 .col-xs-6 .code-input {
  width: 115px;
}

.code-action-module {
  width: 70px;
  margin-left: 5px;
  float: left;
}

.btn {
  color: black;
}

h1 .btn-code {
  width: 300px;
}

.btn-action.btn-activate {
  width: 35px;
}

.btn-action:hover {
  color: white;
}

.btn-code {
  width: 100%;
  border-radius: 3px;
  background-color: black;
  color: white;
  border: 1px dotted white;
}

.btn-code.execution-correct {
  color: black;
  background-color: #0d0;
  border: 1px dotted white;
}

.btn-code.execution-incorrect {
  color: black;
  background-color: #d00;
  border: 1px dotted white;
}

.btn-code.expression-correct  {
  color: #0d0;
  border: 1px dotted #0d0;
}

.btn-code.expression-incorrect  {
  color: #d00;
  border: 1px dotted #d00;
}

.btn-action {
  margin-left: 3px;
  color: #bbb; 
  background-color: black;
  border: 1px dotted #999;
  border-radius: 3px;
  width: 70px;
  float: left;
}

input {
  color: #777 !important;
}

input:focus {
  color: #777 !important; 
}

code {
  padding: 0.6em 0.8em;
  font-size: 85%;
  color: #ccc;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 3px;
  font-weight: normal;
}

code.correct {
  border: 1px solid #272;
  background-color: #333;
  /*background-color: #343;*/
  color: white;
}

code.incorrect {
  border: 1px solid #722;
  background-color: #433;
  color: white; 
}

h1 .code-icon {
  position: relative;
  top: 7px;
}

h1 small .code-icon {
  position: relative;
  top: 5px;
}

.code-icon {
  position: relative;
  top: 2px;
}

::-webkit-input-placeholder {
  color: #555 !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent !important;
}

table.display {
  font-family: arial;
  color: white;
  /*background-color: /#333;*/
  margin-left: -15px;
  margin-right: -16px;
  /*border: 1px solid #666;*/
}

table.display th{
  font-size: 12px;
  color: #888;
  font-weight: normal;
}

table.display td {
  font-size: 14px;
  color: #bbb;
  font-weight: bold;
}

tbody.striped tr:nth-child(even) {
 background-color: #2d2d2d;
}

.panel.display, .panel.display h4 {
  font-family: arial;
  font-variant: small-caps;
}

.btn-code {
  height: 30px;
}

.popover { 
  font-family: sans-serif !important;
  letter-spacing: normal !important;
  max-width: 1000px;
  width: 260px;
  box-sizing: content-box;
}

.popover h4 {
  font-family: sans-serif !important; 
  font-size: 12px;
  letter-spacing: normal !important;
}

.test-result-module {
  font-size: 12px;
}

.test-result-status {
  float: left;
  width: 15px;
}

.test-result-module.incorrect .glyphicon {
  color: red;
}

.test-result-module.correct .glyphicon {
  color: #0d0;
}

table.test-results td {
  padding-left: 0.9em;
}

table.test-results td.test-status {
  padding-left: 0em;
}

.debug-module-popover { 
  width: 350px;
}

.debug-module-popover input, .debug-module-popover a { 
  width: 225px;
}


.ui-tooltip {
  max-width: 1000px;
  width: 300px;
}

.code-input {
  overflow: hidden;
}

.ui-tooltip code {
  background-color: rgba(0,0,0,0);
  color: black;
  border: none;
  font-size: 13px;
}

/*.title-display-module {
  width: 330px;
}
*/

#header {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px
}

.code-tag-module {
  /*float: left;*/
  display: inline-block;
  margin-right: 10px;
}

.code-tag-module.debug-mode {
  border-radius: 3px;
  background-color: #333;
  border: 0.2em solid #555;
  color: #ccc;
}

.code-tag-module.debug-mode:hover {
  border-radius: 3px;
  background-color: #222;
  border: 1px solid #777;
  color: #ccc;
}

.code-tag-text {
  padding: 0.3em 0.3em 0.0em 0.3em;
  color: #ccc;
  font-size: 1.8em;
  font-weight: normal;
}

#subheading {
  float: right;
  padding-top: 15px;
}

#subheading h3 {
  margin-right: 10px;
}

#subheading .code-tag-text {
  padding: 0.3em 0.3em 0.0em 0.3em;
  color: #ccc;
  font-size: 1.2em;
  font-weight: normal;
}

footer .code-tag-text {
  padding: 0.3em 0.3em 0.0em 0.3em;
  color: #ccc;
  font-size: 1.0em;
  font-weight: normal;
}

.debug-mode .code-tag-text {
  font-family: monospace;
}

.code-tag-module.display-mode {
  color: white;
}

.code-tag-module.display-mode:hover {
  border-radius: 3px;
  background-color: #222;
  border: 1px solid #555;
  text-decoration: none;
  color: #666;
}

.display-mode .code-tag-text {
  font-family: sans-serif !important;
  color: white;
}

/* change display mode icon */
.code-tag-module .change-display-mode-icon {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}
.code-tag-module.debug-mode .change-display-mode-icon {
  color: #333;
}
.code-tag-module.debug-mode:hover .change-display-mode-icon {
  color: #222;
}
.code-tag-module.display-mode .change-display-mode-icon {
  color: #333;
}
.code-tag-module.display-mode:hover .change-display-mode-icon {
  color: white;
}

h3.by-author {
  display: inline;
}

/*#subheading .code-tag-module {

}*/

#trainer-placeholder {
  text-align: center;
}

#trainer-placeholder .trainer-image-wrapper {
  padding-top: 20px;
  height: 400px;
  /*width: 100%;*/
  overflow: hidden;
  border: 1px solid #444;
  text-align: center;
}

#trainer-placeholder image.trainer-image {
  display: inline-block;
  width: 147px;
  height: 350px;
  position: relative;
}

#trainer-placeholder {
  position: relative;
}

/*#main { 
  float: left;
  position: relative;
  left: -2000px;
}*/

#trainer-placeholder .code-tag-module {
  /*display: inline-block;*/
  display: inline-block;
  position: relative;
  top: -120px;
}

#trainer-placeholder .code-tag-text {
  padding: 0.3em 0.3em 0.0em 0.3em;
  color: #ccc;
  font-size: 1.2em;
  font-weight: normal;
}

footer {
  text-align: center;
}

footer label {
  display: inline-block;
}

footer .code-tag-module {
  display: inline-block;
}
